.app__body {
    margin-left: 80px;
}

.app__taskSection {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    padding: 0 20px;
    margin-bottom: 85px;
}

.app__pointer {
    &:hover {
        cursor: pointer;
    }
}

.app__noTasks {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        text-align: center;
    }
}

.app__noTasksStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
        text-align: center;
    }
}

.app__skeletonsDiv {
    position: absolute;
    width: 100%;
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 30px;
    background-color: var(--theme-background-color);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.app__loadingIcon {
    animation: rotation 0.4s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

@media (max-width: $breakpoint-tablet) {
    .app__taskSection {
        grid-template-columns: repeat(1, 1fr);
    }

    .app__skeletonsDiv {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: $breakpoint-mobile) {
    .app__body {
        margin-left: 0;
        margin-bottom: 80px;
    }
}