.expandedTask__modal {
    position: fixed;
    background-color: var(--navExtension-color);
    z-index: 10;
    top: 0;
    left: 80px;
    bottom: 0;
    padding: 60px 60px !important;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

.expandedTask__card {
    background-color: var(--card-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    overflow: scroll;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 90%;
    max-height: 80%;
    border-radius: 0 20px 20px 0;
}

.expandedTask__trashCan {
    width: 35px;
    height: 35px;
}

.expandedTask__priority {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.expandedTask__low {
    background-color: #26C485;
}

.expandedTask__medium {
    background-color: #ffbe0a;
}

.expandedTask__high {
    background-color: #dc3545;
}

.expandedTask__checkmark {
    margin-right: 10px;
    color: var(--primary-color);
}

.expandedTask__editBtn {
    margin-left: 15px;
    width: 35px;
    height: 35px;
}

.expandedTask__flexDiv {
    display: flex;
    flex-direction: row;
    grid-gap: 25px;
    gap: 25px;
    align-items: center;

    p, h4 {
        margin: 0;
        position: relative;
    }
}

.expandedTask__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.expandedTask__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: $breakpoint-tablet) {
    .expandedTask__modal {
        width: 80%;
    }
}

@media (max-width: $breakpoint-mobile) {
    .expandedTask__modal {
        left: 0;
        bottom: 75px;
        padding: 50px 20px 10px 20px !important;
        width: 100%;
    }

    .expandedTask__card {
        bottom: 0;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 20px 20px 0 0;
        max-height: 90%;
    }
}

