.btn-link {
    color: var(--theme-text-color);
    text-decoration: none;
}

.landing__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 75px;
}

.landing__header-btns {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.landing__section1, .landing__section2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 80px;
    justify-items: center;
    text-align: center;
}

.landing__section3 {
    display: flex;
}

.landing__section4 {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    text-align: center;
}

.landing__title {
    font-size: 3.5rem;
    font-weight: 400;
}

.landing__text {
    font-size: 1.5rem;
}

.landing__title-btn {
    width: 60%;
}

.landing__section {
    margin-bottom: 120px;
}

.landing__devices-img, .landing__imgReview {
    width: 100%;
}

.landing__finalImage {
    width: 500px;
}

.landing__footer {
    background-color: var(--navBar-color);
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.landing__socialDiv {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

@media (max-width: $breakpoint-tablet) {

    .landing__section3 {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            width: 50%;
        }
    }

    .landing__section4 {
        grid-template-columns: repeat(1, 1fr);
    }

    .landing__title-btn {
        width: 100%;
    }

    .landing__title {
        font-size: 2.5rem;
    }

}

@media (max-width: $breakpoint-mobile) {

    .landing__header {

        margin-top: 30px;
        margin-bottom: 40px;

        img {
            width: 150px;
        }
    }

    .landing__title {
        font-size: 2rem;
    }

    .landing__section1, .landing__section2 {
        gap: 30px;
    }

    .landing__section3 {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            width: 100%;
        }  
    }

    .landing__section {
        margin-bottom: 40px;
    }
    
    .landing__text {
        font-size: 1rem;
    }

    .landing__finalImage {
        width: 100%;
    }

    .landing__footerLogo {
        width: 130px;
    }
}