.nav__desktopNavBar {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: var(--navBar-color);
    overflow-x: hidden;
    padding: 50px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav__active{

    &::after {
        content: "";
        position: absolute;
        height: 200%;
        width: 6px;
        left: 0;
        background-color: var(--primary-color);
        border-radius: 0 20px 20px 0;
        top: 50%;
        transform: translate(0, -50%);
    }
}

.nav__desktopBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.nav__iconAndText {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    transition: transform 0.3s;

    &:hover{
        cursor: pointer;
    }
}

.nav__toolTip {
    background-color: var(--navBar-color);
    border-radius: 0 10px 10px 0;
    opacity: 1;

    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 0px;
        bottom: -10px;
        left: 0;
        border-color: var(--navBar-color) transparent transparent transparent;
    }

    .tooltip-arrow {
        display: none;
    }

    div {
        background-color: var(--navBar-color);
        opacity: 1;
      
    }

}

.nav__BtnIcon {
    width: 30px;
}

.nav__pfp {
    width: 60px;
}

.nav__modal {
    position: fixed;
    background-color: var(--navExtension-color);
    z-index: 10;
    top: 0;
    left: 80px;
    bottom: 0;
    padding: 60px 60px !important;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

.nav__expandedAddTask {
    background-color: var(--theme-background-color);
    color: var(--theme-text-color);
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    height: 70%;
    border-radius: 0 20px 20px 0;
    justify-content: space-evenly;

    textarea {
        resize: none;
        height: 150px;
    }
}

.nav__pfpImage {

    position: relative;
    transition: transform 0.3s;
    
    &:hover {
        transform: scale(1.1);
    }
    
    input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
    }
}

.nav__closeModal {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--white-text);
    transition: transform 0.1s;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.nav__modalInput {
    margin-bottom: 0;
}

.nav__expandedListBkg {
    height: 100%;
    overflow: scroll;
    background-color: var(--card-color);
    border-radius: 10px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.nav__expandedProfile {
    background-color: var(--theme-background-color);
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    gap: 15px;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    width: 80%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 85%;
    border-radius: 0 20px 20px 0;
}

.nav__configSubDiv {
    width: 100%;

    h4 {
        text-align: center;
    }
}

.nav__profilePfpAndData {
    text-align: center;
}

@media (max-width: $breakpoint-tablet) {
    .nav__modal {
        width: 70%;
    }
}

@media (max-width: $breakpoint-mobile) {
    .nav__desktopNavBar {
        height: 75px;
        width: 100%;
        top: auto;
        bottom: 0;
        padding: 0 10px 20px;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .nav__desktopBtns {
        flex-direction: row;
    }

    .nav__active::after {
        height: 8px;
        width: 100%;
        left: 50%;
        border-radius: 0 0 20px 20px;
        top: 0px;
        transform: translate(-50%);
    }

    .nav__pfp {
        width: 35px;
    }

    .nav__desktopBtns {
        flex: 3;
        gap: 10px;
    }

    .nav__iconAndText {
        flex: 1;
        justify-content: center;
        height: 100%;
    }

    .nav__toolTip {
        display: none;
    }

    .nav__modal {
        left: 0;
        bottom: 75px;
        padding: 50px 20px 10px 20px !important;
        width: 100%;
    }

    .nav__expandedAddTask {
        bottom: 0;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 20px 20px 0 0;
    }

    .nav__expandedProfile {
        bottom: 0;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 20px 20px 0 0;
    }
}