.pagination__pagesNavigation {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 45px;

    ul {
        display: flex;
        padding: 0 15px;
        list-style: none;
        width: 90%;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
    }

    div {
        font-weight: bold;
        font-size: 1.5rem;
        color: var(--secondaryBtn-color);
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;

        padding: 0.375rem 0.75rem;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
            background-color: var(--theme-text-color);
            color: var(--theme-background-color);
            border-radius: 100%;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .pagination__pagesNavigation {

        ul {
            bottom: 60px;
        }
    }
}