// Colors

html {
    --primary-color: #1095e0;
    --primary-light-color: #b7dff6;
    --primary-dark-color: #0978d3;
    --accent-color: #ededed;
    --accent-light-color: #ffffff;
    --accent-dark-color: #e5e5e5;
    --theme-text-color: #2E4052;
    --theme-background-color: #fafafa;
    --navBar-color: #05263c;
    --navExtension-color: #083858;
    --card-color: #fff;
    --secondaryBtn-color: #1095e0;
    --sameText-color: #2c2c2c;
    --white-text-color: #fff; 
}

html[data-theme="dark"] {
    --primary-color: #1095e0;
    --primary-light-color: #b7dff6;
    --primary-dark-color: #0978d3;
    --accent-color: #797979;
    --accent-light-color: #d7d7d7;
    --accent-dark-color: #5c5c5c;
    --theme-text-color: #ffffff;
    --theme-background-color: #2c2c2c;
    --navBar-color: #5c5c5c;
    --navExtension-color: #4e4e4e;
    --card-color: #3b3b3b;
    --secondaryBtn-color: #dadada;
    --sameText-color: #2c2c2c;
    --white-text-color: #fff; 
}